* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #181818;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav__links a[data-active="true"] {
  color: #a41034;
  font-weight: bold;
  text-decoration: underline yellow 3px;
  text-underline-offset: 5px;
}
