* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.ticks {
  padding: 2rem;
  list-style-type: "✅ ";
}

.nav__links a[data-active="true"] {
  color: #a41034;
  font-weight: bold;
  text-decoration: underline yellow 3px;
  text-underline-offset: 5px;
}

table.syllabus td,
table.syllabus th {
  padding: 1rem;
}

img {
  object-fit: cover;
}

button {
  transition: all 0.3s;
  border-radius: 5px;
}
